.header {
  height: 5vw;
	width: 100%;
	z-index: 3;
	display: flex;
	justify-content: center;
  background-color: #000000;

	@media screen and (max-width: 1000px) {
		height: 8vw;
	}

	@media screen and (max-width: 640px) {
		position: fixed;
		height: 10.6vw;
	}

	@media screen and (max-width: 320px) {
		height: 16vw;
	}
}

.header__container {
	width: 72.45vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000000;
	z-index: 2;
	
	@media screen and (max-width: 1000px) {
		width: 94vw;
	}
}

.header__navigationContainer {
	display: flex;
}

.header__logoTablet {
	height: 9vw;
	display: none;

	@media screen and (max-width: 640px) {
		display: block;
	}

	@media screen and (max-width: 320px) {
		height: 14vw;
	}
}

.header__burgerMenu {
	height: 3.2vw;
	margin-bottom: 0.2vw;
	display: none;
	cursor: pointer;

	@media screen and (max-width: 640px) {
		display: block;	
	}

	@media screen and (max-width: 320px) {
		height: 5.4vw;
		margin-bottom: 0.2vw;
	}
}

.header__logo {
  height: 3.25vw;
  width: 5.13vw;
	margin-top: 0.2vw;
	cursor: pointer;

	@media screen and (max-width: 1000px) {
		height: 5.20vw;
		width: 8.20vw;
	}

	@media screen and (max-width: 640px) {
		display: none;	
	}
}

.header__title {
	display: none;
}

.header__navigationBar {
	margin-left: 3.9vw;
	display: flex;
	align-items: center;

	@media screen and (max-width: 1000px) {
		margin-left: 6.35vw;
	}
	
	@media screen and (max-width: 640px) {
		display: none;	
	}
}

.header__menu {
	width: 29.45vw;
	display: flex;
	justify-content: space-between;
	list-style-type: none;

	@media screen and (max-width: 1000px) {
		width: 43vw;
	}
}

.header__navigationLink {
	font-weight: 500;
	font-size: 1vw;
	line-height: 140%;
	color: #ffffff;

	&:hover {
		color: #F9804B;
	}
	
	&-active {
		color: #F9804B;
	}

	@media screen and (max-width: 1000px) {
		font-size: 1.6vw;
	}
}

.header__burgerMenuBar {
	width: 100%;
	height: 110vw;
	padding: 3vw 3vw 6vw;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	right: -100vw;
	z-index: 5;
	background-color: #000000;
	transform: translateX(100vw);
	transition-duration: 0.5s;
	-webkit-transform: translateX(100vw);
	-moz-transform: translateX(100vw);
	-ms-transform: translateX(100vw);
	-o-transform: translateX(100vw);

	@media screen and (max-width: 320px) {
		height: 140vw;
	}
}

.header__backDrop {
	display: none;
}

.header__logoLink {
	width: 20vw;

	@media screen and (max-width: 320px) {
		width: 25vw;
	}
}

.header__burgerLogo {
	height: 13vw;
	width: 20vw;
	position: relative;
	z-index: 1;
	border: 0.2vw solid #FE9013;
	border-radius: 0.5vw;
	-webkit-border-radius: 0.5vw;
	-moz-border-radius: 0.5vw;
	-ms-border-radius: 0.5vw;
	-o-border-radius: 0.5vw;

	p {
		color: #FE9013;
		font-size: 5vw;
		line-height: 120%;
		text-align: center;
	}

	img {
		height: 5vw;
    position: absolute;
    top: 6vw;
    left: 2.6vw;
	}

	@media screen and (max-width: 320px) {
		height: 15vw;
		width: 25vw;

		p {
			font-size: 6vw;
		}
	
		img {
			height: 6vw;
			top: 7.5vw;
			left: 3vw;
		}
	}
}

.header__menuList {
	height: 80vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	z-index: 1;
	list-style-type: none;
	
	.header__navigationLink {
		@media screen and (max-width: 640px) {
			font-size: 5vw;
		}

		@media screen and (max-width: 320px) {
			font-size: 7.5vw;
		}
	}
	
	@media screen and (max-width: 320px) {
		height: 100vw;
    margin-top: 6vw;
	}
}

.header__burgerClose {
	position: absolute;
	top: 6vw;
	right: 6vw;
	color: #ffffff;
	font-size: 10vw;
	font-weight: 300;
	z-index: 1;
	line-height: 27%;

	@media screen and (max-width: 320px) {
		top: 6vw;
		right: 6vw;
		font-size: 15vw;
	}
}

.header__designedBy {
	color: #ffffff;
	font-weight: 500;
	font-size: 1vw;
	line-height: 140%;
	&:hover {
		color: #F9804B;
	}

	@media screen and (max-width: 1000px) {
		font-size: 1.6vw;
	}

	@media screen and (max-width: 640px) {
		display: none;	
	}
}