.header {
  height: 5vw;
	width: 100%;
	z-index: 3;
	display: flex;
	justify-content: center;
  background-color: #000000;

	@media screen and (max-width: 1000px) {
		height: 8vw;
	}

	@media screen and (max-width: 640px) {
		position: fixed;
		height: 5.31vw;
	}

	@media screen and (max-width: 320px) {
		height: 10.63vw;
	}
}

.header__container {
	width: 72.45vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000000;
	z-index: 2;
	
	@media screen and (max-width: 1000px) {
		width: 94vw;
	}
}

.header__navigationContainer {
	display: flex;
}

.header__logoTablet {
	height: 4.8vw;
	display: none;

	@media screen and (max-width: 640px) {
		display: block;
	}

	@media screen and (max-width: 320px) {
		height: 9.5vw;
	}
}

.header__burgerMenu {
	height: 1.6vw;
	margin-bottom: 0.2vw;
	display: none;
	cursor: pointer;

	@media screen and (max-width: 640px) {
		display: block;	
	}

	@media screen and (max-width: 320px) {
		height: 3.2vw;
		margin-bottom: 0.2vw;
	}
}

.header__logo {
  height: 3.25vw;
  width: 5.13vw;
	margin-top: 0.2vw;
	cursor: pointer;

	@media screen and (max-width: 1000px) {
		height: 5.20vw;
		width: 8.20vw;
	}

	@media screen and (max-width: 640px) {
		display: none;	
	}
}

.header__title {
	display: none;
}

.header__navigationBar {
	margin-left: 3.9vw;
	display: flex;
	align-items: center;

	@media screen and (max-width: 1000px) {
		margin-left: 6.35vw;
	}
	
	@media screen and (max-width: 640px) {
		display: none;	
	}
}

.header__menu {
	width: 29.45vw;
	display: flex;
	justify-content: space-between;
	list-style-type: none;

	@media screen and (max-width: 1000px) {
		width: 43vw;
	}
}

.header__navigationLink {
	font-weight: 500;
	font-size: 1vw;
	line-height: 140%;
	color: #ffffff;

	&:hover {
		color: #F9804B;
	}
	
	&-active {
		color: #F9804B;
	}

	@media screen and (max-width: 1000px) {
		font-size: 1.6vw;
	}
}

.header__burgerMenuBar {
	width: 100vw;
	height: 100%;
	padding: 3vw 3vw 6vw;
	display: none;
	flex-direction: column;
	position: fixed;
	top: 0;
	z-index: 5;
	background-color: #000000;
}

.header__backDrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	background-color: rgba($color: #000000, $alpha: 0.7);
}

.header__logoLink {
	width: 20vw;
}

.header__burgerLogo {
	height: 13vw;
	width: 20vw;
	position: relative;
	z-index: 1;
	border: 0.2vw solid #FE9013;
	border-radius: 0.5vw;
	-webkit-border-radius: 0.5vw;
	-moz-border-radius: 0.5vw;
	-ms-border-radius: 0.5vw;
	-o-border-radius: 0.5vw;

	p {
		color: #FE9013;
		font-size: 5vw;
		line-height: 120%;
		text-align: center;
	}

	img {
		height: 5vw;
    position: absolute;
    top: 6vw;
    left: 2.6vw;
	}
}

.header__menuList {
	height: 80vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	z-index: 1;
	list-style-type: none;
	
	.header__navigationLink {
		@media screen and (max-width: 640px) {
			font-size: 5vw;
		}
	}	
}

.header__burgerClose {
	position: absolute;
	top: 6vw;
	right: 6vw;
	color: #ffffff;
	font-size: 10vw;
	font-weight: 300;
	z-index: 1;
	line-height: 27%;
}

.header__designedBy {
	color: #ffffff;
	font-weight: 500;
	font-size: 1vw;
	line-height: 140%;
	&:hover {
		color: #F9804B;
	}

	@media screen and (max-width: 1000px) {
		font-size: 1.6vw;
	}

	@media screen and (max-width: 640px) {
		display: none;	
	}
}