*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	cursor: default;
}

@font-face {
	font-family: 'Roboto';
  font-style: normal;
	font-weight: 700; 
	src: local('Roboto'),
		url(../../assets/fonts/Roboto-Bold.ttf); 
}

@font-face {
	font-family: 'Roboto';
  font-style: normal;
	font-weight: 300; 
	src: local('Roboto'),
		url(../../assets/fonts/Roboto-Light.ttf); 
}

@font-face {
	font-family: 'Roboto';
  font-style: normal;
	font-weight: 500; 
	src: local('Roboto'),
		url(../../assets/fonts/Roboto-Medium.ttf); 
}

@font-face {
	font-family: 'Roboto';
  font-style: normal;
	font-weight: 400; 
	src: local('Roboto'),
		url(../../assets/fonts/Roboto-Regular.ttf); 
}

a {
	text-decoration: none;
	cursor: pointer;
}

button {
	cursor: pointer;
}
