.header {
  height: 5vw;
	display: flex;
	justify-content: center;
  background-color: #000000;

	@media screen and (max-width: 1000px) {
		height: 8vw;
	}

	@media screen and (max-width: 640px) {
		height: 5.31vw;
	}

	@media screen and (max-width: 320px) {
		height: 10.63vw;
	}
}

.header__container {
	width: 72.45vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000000;
	z-index: 2;
	
	@media screen and (max-width: 1000px) {
		width: 94vw;
	}
}

.header__navigationContainer {
	display: flex;
}

.header__logoTablet {
	height: 4.8vw;
	display: none;

	@media screen and (max-width: 640px) {
		display: block;
	}

	@media screen and (max-width: 320px) {
		height: 9.5vw;
	}
}

.header__burgerMenu {
	height: 1.6vw;
	margin-bottom: 0.2vw;
	display: none;
	cursor: pointer;

	@media screen and (max-width: 640px) {
		display: block;	
	}

	@media screen and (max-width: 320px) {
		height: 3.2vw;
		margin-bottom: 0.2vw;
	}
}

.header__logo {
  height: 3.25vw;
  width: 5.13vw;
	margin-top: 0.2vw;
	cursor: pointer;

	@media screen and (max-width: 1000px) {
		height: 5.20vw;
		width: 8.20vw;
	}

	@media screen and (max-width: 640px) {
		display: none;	
	}
}

.header__title {
	display: none;
}

.header__navigationBar {
	margin-left: 3.9vw;
	display: flex;
	align-items: center;

	ul {
		width: 29.45vw;
		display: flex;
		justify-content: space-between;
		list-style-type: none;

		@media screen and (max-width: 1000px) {
			width: 43vw;
		}
	}

	@media screen and (max-width: 1000px) {
		margin-left: 6.35vw;
	}

	@media screen and (max-width: 640px) {
		display: none;	
	}
}

.header__navigationLink {
	font-weight: 500;
	font-size: 1vw;
	line-height: 140%;
	color: #ffffff;

	&:hover {
		color: #F9804B;
	}
	
	&-active {
		color: #F9804B;
	}

	@media screen and (max-width: 1000px) {
		font-size: 1.6vw;
	}
}

.header__designedBy {
	color: #ffffff;
	font-weight: 500;
	font-size: 1vw;
	line-height: 140%;
	&:hover {
		color: #F9804B;
	}

	@media screen and (max-width: 1000px) {
		font-size: 1.6vw;
	}

	@media screen and (max-width: 640px) {
		display: none;	
	}
}